-e .
fastapi
uvicorn[standard]
websockets
python-dotenv
groq
langchain
langchain-core
langchain-community
langchain-chroma
langchain-openai
langgraph
fastembed
chromadb
langchain-mcp-adapters
tavily-python
google-auth
google-auth-oauthlib
google-api-python-client
httpx